html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#cabecera{
	width: 100%;
	background-color: #0B0B3B;
	height: 10%;
}

#titulo{
	width: 50%;
	height: 100%;
	margin-left: 25%;
	margin-right: 25%;
}

#img{
	height:100%;
	border-radius: 50%;
}

#cuerpo{
	width: 100%;
	background-color: #FFF;
	height: 80%;
	padding-top: 40px;
}

#footer{
	width: 100%;
	background-color: #424242;
	height: 10%;
}
